*{
    font-size: 30px;
}
body{
    background-color:antiquewhite;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}
.container{
    justify-content: center;
    align-content: center;
    background-color: brown;
    padding: 10px;
    height: max-content;
}
.navgation{
    width: 30%;
    height: 100%;
    background-color: rebeccapurple;
}
.content{
    width: 70%;
    height: 100%;
    background-color: blue;
}

hr{
    width: 100%;
}

footer{
    width: 100%;
    position:fixed;
    bottom: 25px;
    font-size: smaller;
    font-style: italic;
}

note{
    /* 注意事项 */
    font-size: larger;
    color: rebeccapurple;
}
todo{
    /* 代码 todo */
    font-size: larger;
    color: blue;
}
log{
    /* 代码注释 日志等 */
    font-size: smaller;
    color: burlywood;
}
.b{
    /* div变成一个边框 */
    border:solid 5px chocolate;
    padding-left: 10px;
    padding-right: 10px;
}
.bc{
    /* div变成一个边框 有背景 */
    border:solid 5px chocolate;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
    white-space: pre-wrap; /* 文字自動換行*/
}
.bcc{
    /* div变成一个边框 有背景 内容居中 */
    border:solid 5px chocolate;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
    display: flex;
    align-items: center; /*上下居中 */
    justify-content: center;/*水平居中 */
    white-space: pre-wrap; /* 文字自動換行*/
}

.bcc3{
    /* div变成一个边框 有背景 内容居中 高度 */
    border:solid 5px chocolate;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
    display: flex;
    height: 300px; 
    align-items: center; /*上下居中 */
    justify-content: center;/*水平居中 */
    white-space: pre-wrap; /* 文字自動換行*/
}

.bcc6{
    /* div变成一个边框 有背景 内容居中 高度 */
    border:solid 5px chocolate;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
    display: flex;
    height: 600px; 
    align-items: center; /*上下居中 */
    justify-content: center;/*水平居中 */
    white-space: pre-wrap; /* 文字自動換行*/
}

java{
    /* java代码 */
    font-style: italic;
    color: cadetblue;
}
a{
    /* a标签 */
    font-size: larger;
    font-style: italic;
}

fb{
    font-display:initial;
    background-color:yellow;
}